# Introduction to Data Science

<br/>
<br/>

# ***Datasets***

<br/>

1. [Setup](#0)<br>
2. [About Pandas](#I)<br>
3. [Creating & Reading](#II)<br>
    3.1 [Creating data](#II.I)<br>
    3.2 [Reading data](#II.II)<br>
4. [Indexing, Selecting and Assigning](#III)<br>
    4.1 [Naitive Python accessors](#III.I)<br>
    4.2 [Indexing using Pandas syntaxis](#III.II)<br>
    4.3 [Manipulating the index](#III.III)<br>
    4.4 [Conditional Selection](#III.VI)<br>
    4.5 [Assigning data](#III.V)<br>
5. [Summary Functions and Maps](#VI)<br>
    5.1 [Summary functions](#VI.I)<br>
    5.2 [Maps](#VI.II)<br>
6. [Grouping and Sorting](#V)<br>
    6.1 [Grouping](#V.I)<br>
    6.2 [Sorting](#V.II)<br>
7. [Data Types and Missing Values](#IV)<br>
    7.1 [Data Types](#IV.I)<br>
    7.2 [Missing data](#IV.II)<br>
8. [Renaming and Combining](#IIV)<br>
    8.1 [Renaming](#IIV.I)<br>
    8.2 [Combining](#IIV.II)<br>
<br/>
<br/>
<br/>

## 1. [Setup](#0)
<a id="0"></a>
<br/>

To see where is the *current working directory* for this specific `jupyter notebook` we leverage the method `getcwd()` from package `os`

In [1]:
import os
while not os.getcwd().endswith("IntroDS"):
    os.chdir("..")

os.getcwd()

'C:\\Users\\eduardo.garcia\\Documents\\Github\\IntroDS'

*Current directory* of a specific `jupyter notebook` is usually originally set to where the file is stored. Remember that it is possible to change our *current working directory* by leveraging the method `chdir()` from the package `os`. 

The `while` loop above will *check* if the ending string returned by `os.getcwd()` is equal to "IntroDS", while this condition it will keep going one folder backwards.

**IntroDS** is the name of the folder we have created for this workshop. The structure of it is as follows:

+ data
    + Data_Extract_From_World_Development_Indicators-OCDE-BRCH-EU.xlsx
    + WorldBankDataReshaped.csv
+ html
    + IntroDSPart1.html
+ images
    + DSKC_logo.png
+ metadata
    + Expense.xlsx
    + Final Consumption Expenditure.xlsx
    + Militar Expenditure.xlsx
+ notebooks
    + IntroDSPart1_SOLVED.ipynb
+ README.md
    
   
Whenever new material is released I will be sharing it via the following github [repo](https://github.com/EduardoHidalgoGarcia/IntroDS).

## 2. [About pandas](#I)
<a id="I"></a>
<br/>

The most popular `Python` library for data analysis is `pandas`. In this part we will learn how to create our own data, along with how to work with data that already exists (i.e. how to import it to `Python`). To use `pandas` you will typically start with the following line of code.

In [2]:
import pandas as pd

(note that Anaconda environments known as conda already includes the `pandas`*package*).

## 3. [Creating & Reading data](#II)
<a id="II"></a>
<br/>

### 3.1 [Creating data](#II.I)
<a id="II.I"></a>
<br/>

There are two core objects in pandas: the `DataFrame` and the `Series`.
<br/>

#### 3.1.1 `DataFrame`

<hr>

A `DataFrame`is a table that contains and array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

As an example let's generate our first `DataFrame`. For this we will need to declare a `dictionary` and then feed it to the `pandas` method `DataFrame()`. 

`Dictionaries` are one of the basic `Python` data structures (as we learned on the first part of this course). If you are familiar with other programming languages you can think of them as mappings or collection of objects that are stored by a *key*, unlike other structures such as sequences or lists that store objects by their relative position.

In [3]:
my_first_dictionary={
    'Key 1':['Value 1', 'Value 2'],
    'Key 2':['Value 3','Value 4']
}

In [4]:
pd.DataFrame(my_first_dictionary)

     Key 1    Key 2
0  Value 1  Value 3
1  Value 2  Value 4

In this example, the entry indexed by ("0", "Key 1") corresponds to "Value 1". The ("0","Key 2") value corresponds to "Value 3" and so on.

`DataFrame` entries are not limited to `strings`. For instance, here is a `DataFrame` whose values are not strings.

In [5]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

We are using the `DataFrame()` constructor from the library `pandas` that we declared as `pd` to generate these `DataFrame` objects. The syntax for declaring a new one is a dictionary whose keys are the column names (`Yes`and `No` in the prior example). This is the standard way of constructing a new DataFrame, and the one you are most likely to encounter.

The dictionary-list constructor assigns values to the column labels, but just uses an ascending count from 0 (0, 1, 2, 3, ...) for the `row labels`. Sometimes this is OK, but oftentimes we will want to assign these labels ourselves.

The list of `row labels` used in a `DataFrame` is known as an **Index**. We can assign values to it by using an `index` parameter in our constructor, for example:

In [6]:
pd.DataFrame({'Yes': [50, 21],
              'No': [131, 2]},
            index=['Men','Women'])

       Yes   No
Men     50  131
Women   21    2

<br/>

##### 3.1.2 `Series`

<hr>

A `Series` is a sequence of data values. If a `DataFrame` is a **table**, a `Series` is a **list**, both with special methods and constructors than the ones available by using the `Matrix` (two-dimensional array) and `list` data structures. So, it is possible to generate a `pandas` `Series` with nothing more than a list, for example:

In [7]:
pd.Series([10,20,25],index=['2017','2018','2019'],name='Vendas de pasteis de Nata')

2017    10
2018    20
2019    25
Name: Vendas de pasteis de Nata, dtype: int64

A `Series` is, in essence, a single column of a `DataFrame`. So you can assign column values to the `Series` the same way as before, using an `index` parameter. However

In [8]:
pd.Series([10,20,25],index=['2017','2018','2019'],name='Vendas de pasteis de Nata')

2017    10
2018    20
2019    25
Name: Vendas de pasteis de Nata, dtype: int64

<hr>
<hr>

**Summarizing**, we saw that `pandas` library has two main objects `DataFrame` and `Series`. By this time it must be clear that they are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together"

<hr>
<hr>

<br/>

### 3.2 [Reading data](#II.II)
<a id="II.II"></a>

<br/>

Data can be stored in any of a number of different forms and formats. By far the most basic format is the CSV file or *Comma-Separated Values*. The function from pandas that will allow us to read this format to Python is `read_csv()`. Now, lets read our example database using `read_csv()` function.

In [9]:
data=pd.read_csv("data\\WorldBankDataReshaped.csv")

We can use the `shape` **attribute** to check the dimensions of the resulting `DataFrame`.

In [10]:
data.shape

(236880, 6)

So our `DataFrame` has 59 k records split accross 6 different columns. That is almost 356 k entries!

We can examine the contents of the resultant `DataFrame` using the `head()` **method**, which grabs, by default, the first five rows.

In [11]:
data.head()

,Continent,Country Name,Country Code,Series Name,Time,value
0,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN
1,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN
2,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN
3,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN
4,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN

The pandas `read_csv()` functions is well-endowed, with over 30 optional parameters for you to specify as needed. This optional parameters can allow you to read other types of format files. For example, by specifying the `sep='\t'` this same function will allow you to read **tsv** files. Another optional parameter is the `index_col` which allows you to use the specified column (you will need to specify the number of the column starting by 0) as the `row_labels` of the `DataFrame`. For example:

In [12]:
data = pd.read_csv("data\\WorldBankDataReshaped.csv",index_col=False)

In [13]:
data.head()

,Continent,Country Name,Country Code,Series Name,Time,value
0,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN
1,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN
2,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN
3,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN
4,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN

Another very common format is the **xlsx** or Excel files. Unfortunately, `read_csv()` method from pandas library will not let us read this type of data. For reading into Python this format we need to install the package `xlrd`. Once we do that we can simply use the pandas method `read_excel()` in the following way:

In [14]:
raw_data = pd.read_excel("data\\Data_Extract_From_World_Development_Indicators.xlsx")

In [15]:
raw_data.head()

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Australia,AUS,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,..,..
1,Australia,AUS,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,99.064842,..,..,98.859566,..,..,99.519371,..,..,..
2,Australia,AUS,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,98.592285,..,..,99.036232,..,..,99.195091,..,..,..
3,Australia,AUS,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,99.594696,..,..,98.670578,..,..,99.854538,..,..,..
4,Australia,AUS,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,99.113922,..,..,99.613991,..,..,99.636093,..,..,..

The dataset above is the extraction as downloaded from [World Bank's databank](https://databank.worldbank.org/data/source/world-development-indicators#). 

So far we have declared to our *environment* two <code>dataframe</code>  objects: `data` & `row_data`. The first one has been preprocessed in such a way to reshape it from a wide to a long format. The only difference is that for each country data belonging to a specific series was horizonatally presented (in raw data), but now it is in a *panel data* fashion. 


<div class="alert alert-block alert-info">
<b>Note:</b> that you can always access to the <i>specifications</i> of a method by simply ending the method statement with a question mark instead of parenthesis. For example, lets see the additional parameters available in the <code>read_excel</code> method.
</div>

pd.read_excel?

For example, note that optional parameter `sheet_name` will let you pick the Excel worksheet of your choice (the default one is the first one indexed by number 0). 

<hr>

#### Exercise 

<hr>

Use the information about the parameters of method `read_excel()` mentioned above to:
+ Read the `Data_Extract_From_World_Development_Indicators-OCDE-BRCH-EU.xlsx` file using col `Country Code` as `row_labels`
+ Use attribute `shape` to check the dimensions of it
+ Use the method `head()` to let us visualize the 3 first rows of it

In [16]:
raw_data = pd.read_excel("data\\Data_Extract_From_World_Development_Indicators.xlsx",index_col=1)

In [17]:
raw_data.head(3)

,Country Name,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
Country Code,,,,,,,,,,,,,,,,,,,,,
AUS,Australia,Access to electricity (% of population),EG.ELC.ACCS.ZS,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,..,..
AUS,Australia,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,..,...,99.064842,..,..,98.859566,..,..,99.519371,..,..,..
AUS,Australia,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,..,...,98.592285,..,..,99.036232,..,..,99.195091,..,..,..

<br/>

## 4. [Indexing, Selecting and Assigning](#III)
<a id="III"></a>
<br/>

Selecting specific values of a pandas `DataFrame` or `Series` to work on is an implicit step in almost any data operation you'll run, so one of the first things you need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.

<br/>

### 4.1 [Naitive Python accessors](#III.I)
<a id="III.I"></a>
<br/>

Native Python objects provide good ways of indexing data. Pandas carries all of these over, which helps make it easy to start with.

In Python, we can access the property of an object by accessing it as an attribute. A `book` object, for example, might have a `title` property, which we can access by calling `book.title`. **Columns in a pandas** `DataFrame` **work in much the same way**.

Hence to access the `Continent` **property** of our `data` we can use:

In [18]:
data.Continent

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
          ...
236875     NaN
236876     NaN
236877     NaN
236878     NaN
236879     NaN
Name: Continent, Length: 236880, dtype: object

In Python dictionaries we can access its values by using the indexing `[ ]` operator. And, so we can do the same with columns in a `DataFrame`.

In [19]:
data['Continent']

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
          ...
236875     NaN
236876     NaN
236877     NaN
236878     NaN
236879     NaN
Name: Continent, Length: 236880, dtype: object

<br/>

Or `[[ ]]` for a `list` of columns.

In [20]:
data[['Series Name','Continent']]

                                              Series Name Continent
0       ARI treatment (% of children under 5 taken to ...      Asia
1       ARI treatment (% of children under 5 taken to ...      Asia
2       ARI treatment (% of children under 5 taken to ...      Asia
3       ARI treatment (% of children under 5 taken to ...      Asia
4       ARI treatment (% of children under 5 taken to ...      Asia
...                                                   ...       ...
236875                       Trade in services (% of GDP)       NaN
236876                       Trade in services (% of GDP)       NaN
236877                       Trade in services (% of GDP)       NaN
236878                       Trade in services (% of GDP)       NaN
236879                       Trade in services (% of GDP)       NaN

[236880 rows x 2 columns]

Pandas `Series` are pretty much like `list`s wrapped inside a fancy dictionary. And, so we can select a specific value by using the indexing operator once more, for example lets address the first observation fo the column `Country Name`.

In [21]:
data['Country Name'][0]

'China'

<hr>
<hr>

<b>Summarizing:</b> As inherit forms from Python naitive objects we have <b>two</b> ways to select columns,  by <b>attribute</b> of the <code>DataFrame</code> or by <b>key</b> of the <code>dictionary</code> we can select specific <code>Series</code> out of a <code>DataFrame</code>. Neither of them is more or less syntactically valid than the other, but the indexing operator <code>[]</code> does have the advantage that it can handle column names with reserved characters in them (e.g. columns names separated by blank spaces such as <code>Country Name</code>, since <code>data.Country Name</code> would not work!)

<hr>
<hr>

<br>

<hr>

#### Exercise
<hr>

Can you select element 4 of the same `Series`?

In [22]:
#Type your code here

<br/>

### 4.2 [Indexing using pandas syntaxis](#III.II)
<a id="III.II"></a>
<br/>

Pandas has its own accessor operatos, `loc[ ]` and `iloc[ ]`. For more advanced operations, these are the ones you are supposed to be using.


<br/>

#### 4.2.1 Index-based selection `iloc[ ]`

<br/>

In pandas we have two paradigms for indexing. The first one we will review is the **index-based selection**. This simply means that we will be selecting data based on its numerical position in the `DataFrame` (as we did when we review `list`s). For this first paradigm we use the method `iloc[]`. 

To select the **first row** of our data `DataFrame`, we can do the follwoing.

In [23]:
data.iloc[0]

Continent                                                    Asia
Country Name                                                China
Country Code                                                  CHN
Series Name     ARI treatment (% of children under 5 taken to ...
Time                                                         2000
value                                                         NaN
Name: 0, dtype: object

This is returning a `Series` where the values of it are the first row of data in our `DataFrame`. And the `index` of them are the `column_names` of our `DataFrame`.

Both `loc[]` and `iloc[]` are **row-first, column-second**. Please, note that this is the opposite of what we do in naitive Python, which is column-first, row-second.

This means that using pandas accessors it is marginally easier to retrieve rows, and marginally harder to retrieve columns.

To get a column by using `iloc[]` method we will need to specify two arguments `iloc[rows,columns]`.For example, lets select the column `Continent` using its numerical position on the data `DataFrame`.

In [24]:
data.iloc[:,4]

0         2000
1         2001
2         2002
3         2003
4         2004
          ...
236875    2015
236876    2017
236877    2018
236878    2019
236879    2020
Name: Time, Length: 236880, dtype: int64

This is returning a `Series` where the values of it are the **first column** of data in our `DataFrame`. And the `index` of them are the `row_labels` of our `DataFrame`.

The operator `:` also comes from naitive Python and it **means "everything"**. When combinded with other selectors, it can be used to indicate a range of values. For example, to select the `Continent` column but just the first three rows we can do the following.

In [25]:
data.iloc[:3,4]

0    2000
1    2001
2    2002
Name: Time, dtype: int64

Or to select just the from the same column rows 10 to 13.

In [26]:
data.reset_index().iloc[10:14,5]

10    2010
11    2011
12    2012
13    2013
Name: Time, dtype: int64

<div class="alert alert-block alert-info">
    <b>Note:</b>  I introduced a new method of pandas <code>DataFrame</code>s that is  <code>reset_index()</code>. This new method allows us to reset the <code>row_labels</code>, recall that when we imported the data we asked the <code>index</code> to be equal to the <code>Country Code</code>. For presentation purposes in the code above I present the <code>row_labels</code> as 0, 1, 2, 3, ...  so it is clearer what the <code>iloc[10:14,1]</code> method is doing (also pay attention that now <code>Continent</code> column is the fifth one since the first position was occupied by <code>Country Code</code>).
</div>


It is also possible to pass a list to `iloc[]` method.

In [27]:
data.reset_index().iloc[[0,10,20],5]

0     2000
10    2010
20    2020
Name: Time, dtype: int64

As a final note to this **index-based selection** it is worth knowning that it is also posible to use negative numbers. This makes the `iloc[]` method to start counting forwards from the *end* of the values. So for example here are the last five elements of our dataset.

In [28]:
data.iloc[-5:]

,Continent,Country Name,Country Code,Series Name,Time,value
236875,NaN,World,WLD,Trade in services (% of GDP),2015,12.988569
236876,NaN,World,WLD,Trade in services (% of GDP),2017,13.157617
236877,NaN,World,WLD,Trade in services (% of GDP),2018,13.466429
236878,NaN,World,WLD,Trade in services (% of GDP),2019,13.495904
236879,NaN,World,WLD,Trade in services (% of GDP),2020,NaN

<br/>

#### 4.2.2 Label-based selection `loc[ ]`

<br/>

The second paradigm in pandas accesses to `DataFrame`s is the one followed by the `loc[ ]` method. In this paradigm, it's the data **index value**, not its position, which matters.

For example, as befor lets address the first observation fo the column `Continent`.

<br/>

In [29]:
data.reset_index().loc[0, 'Continent']

'Asia'

<br/>

#### 3.2.3 Differences between `loc[ ]`and `iloc[ ]`

<br/>


The two methods use different indexing schemes.

`iloc[ ]` uses a scheme where the **first** element of the range is **included** and the **last** one is **excluded**. So, for example `.iloc[0:10]` will select entries 0,...,9. In contrast, `.loc[0:10]` indexes inclusively, so will output entries 0,...,10.

This difference is due to the fact that `loc[ ]` is meant to work indexing strings. So for example this characteristic is very convenient when we need to index a dataframe (let it be called `df`) that contains index values such as fruits: `Apples,...,Potatoes,...,` and we want to select "all the alphabetical fruit choices between Apples and Potatoes". Then `df.loc['Apples':'Potatoes']` has a much more intuitive use than something like `df.loc['Apples':'Potatoet']` (t comes after s in the alphabet).

Otherwise, the semantics and use of `loc[ ]` are the same as those for `iloc[ ]`

<br/>

### 4.3 [Manipulating the index](#III.III)
<a id="III.III"></a>

<br/>

Label-based selection dervies its power from the lables in the index. So, we can manipulate the index in any way we see fit by using the method `set_index()`.

For example, lets reset the index of our data. Remember that when first imported it we set the column `Time` as the new index.

In [30]:
data.set_index('Time')

,Continent,Country Name,Country Code,Series Name,value
Time,,,,,
2000,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,NaN
2001,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,NaN
2002,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,NaN
2003,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,NaN
2004,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,NaN
...,...,...,...,...,...
2015,NaN,World,WLD,Trade in services (% of GDP),12.988569
2017,NaN,World,WLD,Trade in services (% of GDP),13.157617
2018,NaN,World,WLD,Trade in services (% of GDP),13.466429
2019,NaN,World,WLD,Trade in services (% of GDP),13.495904
2020,NaN,World,WLD,Trade in services (% of GDP),NaN

<br/>

### 4.4 [Conditional Selection](#III.VI)
<a id="III.VI"></a>

<br/>


This type of selection works well for **asking interesting questions** to our data. In particular, it helps to *ask* questions based on conditions.

For example, suppose that for some reason we are interested in all european countries that have an average GDP of the period higher than 1,000,000,000,000 (or $10^{12}$).

First, we need to check if each observation has the column `Continent` equal to **Europe**.

In [31]:
condition_1 = data.loc[:,'Continent']=='Europe'
condition_1

0         False
1         False
2         False
3         False
4         False
          ...
236875    False
236876    False
236877    False
236878    False
236879    False
Name: Continent, Length: 236880, dtype: bool

This operation produced a `Series`of `True/False` booleans based on the continent of each record. This result can be used inside the `.loc[]` method to select the relevant data.

In [32]:
data.loc[condition_1]

,Continent,Country Name,Country Code,Series Name,Time,value
20160,Europe,Austria,AUT,ARI treatment (% of children under 5 taken to ...,2000,NaN
20161,Europe,Austria,AUT,ARI treatment (% of children under 5 taken to ...,2001,NaN
20162,Europe,Austria,AUT,ARI treatment (% of children under 5 taken to ...,2002,NaN
20163,Europe,Austria,AUT,ARI treatment (% of children under 5 taken to ...,2003,NaN
20164,Europe,Austria,AUT,ARI treatment (% of children under 5 taken to ...,2004,NaN
...,...,...,...,...,...,...
161275,Europe,United Kingdom,GBR,Trade in services (% of GDP),2016,21.777839
161276,Europe,United Kingdom,GBR,Trade in services (% of GDP),2017,22.623370
161277,Europe,United Kingdom,GBR,Trade in services (% of GDP),2018,23.750371
161278,Europe,United Kingdom,GBR,Trade in services (% of GDP),2019,24.117141
161279,Europe,United Kingdom,GBR,Trade in services (% of GDP),2020,NaN

The resulting `DataFrame` has $\sim 37 k$ rows. The original had $\sim 59 k$. Means that around $66\%$ of the observations has the `Continent` column equal to **`Europe`**.

We also wanted to know which ones have an average GDP higher than 1,000,000,000,000. For this purpose, I will present a new method: `Series.mean()`. This method and others that allow us to generate summary statistics will be reviewed further in detail.

To implement the second condition we need to:

1. extract the `Series` with the values of the Gross Domestic Product (it is called `GDP (constant 2010 US$)`
2. compare the `value` in the `Series` with the desired one ($10^{12}$)

In [33]:
#Generate the series
new_series=data.loc[data['Series Name']=='GDP (constant 2010 US$)']['value']
new_series

2604      2.232179e+12
2605      2.418248e+12
2606      2.639121e+12
2607      2.904037e+12
2608      3.197741e+12
              ...
234460    7.793755e+13
234461    8.050842e+13
234462    8.290497e+13
234463    8.486536e+13
234464             NaN
Name: value, Length: 987, dtype: float64

In [34]:
#Compare to the desire value
condition_2 = new_series>1000000000000
condition_2

2604       True
2605       True
2606       True
2607       True
2608       True
          ...
234460     True
234461     True
234462     True
234463     True
234464    False
Name: value, Length: 987, dtype: bool

Then we can use the ampersand (`&`) symbol to bring the two questions together.

In [35]:
data.loc[(condition_1) & (condition_2)]

,Continent,Country Name,Country Code,Series Name,Time,value
53004,Europe,France,FRA,GDP (constant 2010 US$),2000,2.333524e+12
53005,Europe,France,FRA,GDP (constant 2010 US$),2001,2.379815e+12
53006,Europe,France,FRA,GDP (constant 2010 US$),2002,2.406838e+12
53007,Europe,France,FRA,GDP (constant 2010 US$),2003,2.426650e+12
53008,Europe,France,FRA,GDP (constant 2010 US$),2004,2.495318e+12
...,...,...,...,...,...,...
158859,Europe,United Kingdom,GBR,GDP (constant 2010 US$),2015,2.735997e+12
158860,Europe,United Kingdom,GBR,GDP (constant 2010 US$),2016,2.788478e+12
158861,Europe,United Kingdom,GBR,GDP (constant 2010 US$),2017,2.841238e+12
158862,Europe,United Kingdom,GBR,GDP (constant 2010 US$),2018,2.879331e+12
158863,Europe,United Kingdom,GBR,GDP (constant 2010 US$),2019,2.921446e+12

Suppose we want to select any observations in which the continent is equal to Europe *or* the GDP is above the threshold mentioned aboved. For this we use the pipe (`|`) symbol.

In [36]:
data.loc[(condition_1) | (condition_2)]

,Continent,Country Name,Country Code,Series Name,Time,value
2604,Asia,China,CHN,GDP (constant 2010 US$),2000,2.232179e+12
2605,Asia,China,CHN,GDP (constant 2010 US$),2001,2.418248e+12
2606,Asia,China,CHN,GDP (constant 2010 US$),2002,2.639121e+12
2607,Asia,China,CHN,GDP (constant 2010 US$),2003,2.904037e+12
2608,Asia,China,CHN,GDP (constant 2010 US$),2004,3.197741e+12
...,...,...,...,...,...,...
234459,NaN,World,WLD,GDP (constant 2010 US$),2015,7.595824e+13
234460,NaN,World,WLD,GDP (constant 2010 US$),2016,7.793755e+13
234461,NaN,World,WLD,GDP (constant 2010 US$),2017,8.050842e+13
234462,NaN,World,WLD,GDP (constant 2010 US$),2018,8.290497e+13
234463,NaN,World,WLD,GDP (constant 2010 US$),2019,8.486536e+13

<br/>

#### 3.3.1 Pandas built-in conditional selectors `.isin([])` and `.isnull()`

<br/>

Pandas comes with a few built-in conditional selectors. In this section we presented two of them.

`.isin([])` helps to select data whose value "is in" a **list of values**. For example, we can use it to select observations from the [G7 countries](https://www.investopedia.com/terms/g/g5.asp). 

Such countries are **United States**, the **United Kingdom**, **Canada**, **Germany**, **Japan**, **Italy**, **France**, and, until recently, Russia. In 2014, Russia was suspended indefinitely from the group after annexing Crimea, an autonomous republic of Ukraine. As a result, the G8 is now often referred to as the **G7**.

In [37]:
data.loc[data['Country Name'].isin(['United States','United Kingdom','Canada','Germany','Japan','Italy','France'])]

,Continent,Country Name,Country Code,Series Name,Time,value
10080,Asia,Japan,JPN,ARI treatment (% of children under 5 taken to ...,2000,NaN
10081,Asia,Japan,JPN,ARI treatment (% of children under 5 taken to ...,2001,NaN
10082,Asia,Japan,JPN,ARI treatment (% of children under 5 taken to ...,2002,NaN
10083,Asia,Japan,JPN,ARI treatment (% of children under 5 taken to ...,2003,NaN
10084,Asia,Japan,JPN,ARI treatment (% of children under 5 taken to ...,2004,NaN
...,...,...,...,...,...,...
176395,North America,United States,USA,Trade in services (% of GDP),2013,7.062012
176396,North America,United States,USA,Trade in services (% of GDP),2011,7.095720
176397,North America,United States,USA,Trade in services (% of GDP),2014,7.118277
176398,North America,United States,USA,Trade in services (% of GDP),2012,7.127446
176399,North America,United States,USA,Trade in services (% of GDP),2020,NaN

`.isnull()` (and its counterpart `.notnull()`) let you highlight values which are (or are not) empty (`NaN`). 

For example, lets filter out all rows that contain missing values for `Series Name`. Here is how we do it by using this operator.

In [38]:
data.loc[data.loc[:,'value'].notnull()]

,Continent,Country Name,Country Code,Series Name,Time,value
21,Asia,China,CHN,Access to electricity (% of population),2000,96.907104
22,Asia,China,CHN,Access to electricity (% of population),2001,97.218140
23,Asia,China,CHN,Access to electricity (% of population),2002,97.514900
24,Asia,China,CHN,Access to electricity (% of population),2003,97.792900
25,Asia,China,CHN,Access to electricity (% of population),2004,98.047676
...,...,...,...,...,...,...
236874,NaN,World,WLD,Trade in services (% of GDP),2016,12.933708
236875,NaN,World,WLD,Trade in services (% of GDP),2015,12.988569
236876,NaN,World,WLD,Trade in services (% of GDP),2017,13.157617
236877,NaN,World,WLD,Trade in services (% of GDP),2018,13.466429
236878,NaN,World,WLD,Trade in services (% of GDP),2019,13.495904

The original dataset contains $\sim 59k$ entries. When filtered out all missing values we stay with $\sim 42k$ registers.

For concluding this section, let me stress out that I used operator `.loc[:,'Series Name']` that returns exactly the same `Series` that the one you can get by using the native Python operator `data['Series Name']`. 

In the following lines of code I will be changing indistinctly between those two ways of selection. Just to emphasize that they produce exactly the same output (when outputing a `Series`). Note that `.loc[]` additionally let us to perform the type of **conditional selection** that we reviewed during this section.

<br/>

### 4.5 [Assigning data](#III.V)
<a id="III.V"></a>

<br/>

Assigning data to a `Series` of column of a `DataFrame` is easy. It is possible to assign either a constant value:

In [39]:
data['Data Source']='World Bank'
data['Data Source']

0         World Bank
1         World Bank
2         World Bank
3         World Bank
4         World Bank
             ...
236875    World Bank
236876    World Bank
236877    World Bank
236878    World Bank
236879    World Bank
Name: Data Source, Length: 236880, dtype: object

Or iterable values, such as:

In [40]:
data['reverse_index']=range(len(data),0,-1)
data['reverse_index']

0         236880
1         236879
2         236878
3         236877
4         236876
           ...
236875         5
236876         4
236877         3
236878         2
236879         1
Name: reverse_index, Length: 236880, dtype: int32

For concluding this section, please note that the code above is using two native Python function `range()` and `len()`. The first one outputs an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step. The second one simply returns the number of items in the object (recall that `DataFrame` is always rows first columns second). Lastly, you can always review what a Python method does by asking after its name.

In [41]:
#range?
#len?

## 5. [Summary Functions and Maps](#VI)
<a id="VI"></a>
<br/>

As data does not always come out of memory in the format we want it. Sometimes we need to do some more work ourselves to reformat it for the task at hand. In this section, we will be covering different opeartions that we can apply to our data to get the input "just right" for our models, presentations and so on. First lets see a group of functions that are usually and informally called *summary functions*.

<br/>

### 5.1 [Summary functions](#VI.I)
<a id="VI.I"></a>
<br/>

Pandas provides many simple *summary functions* which helps when you need to restructure your data in some useful way. For example, consider the `.describe()` method.

In [42]:
data.value.describe()

count    1.505820e+05
mean     1.065712e+11
std      1.852481e+12
min     -8.434819e+02
25%      3.774439e+00
50%      1.785059e+01
75%      7.176094e+01
max      8.486536e+13
Name: value, dtype: float64

This method generates a high-level summary of the attributes of the given column. It is **type-aware**, meaning that its output varies based on the data type of the column. The output above only makes sense for numerical data. In the case of string we get:

In [43]:
data['Country Name'].describe()

count      236880
unique         47
top       Denmark
freq         5040
Name: Country Name, dtype: object

It is possible to get a particular simple summary about a column in a `DataFrame` or a `Series`, most of the time there is a helpful pandas function that can make it happen.

For example, to see the mean of the Portuguese *population*in the available period, we can use the method `.mean()`.

To do so, we need to:

1. select the rows where the `Series Name` is equal to `Population, total`
2. select the rows where the `Country Name` is equal to `Portugal`
3. extract `value` series
4. apply the method mentioned before

In [44]:
condition_1 = data.loc[:,'Series Name']=='Population, total'
condition_2 = data.loc[:,'Country Name']=='Portugal'
data.loc[(condition_1) & (condition_2)].value.mean()

10437543.35

Other interesanting **method** of pandas `DataFrames` is `info()`. `info()` constructs a table that allow us to get the following information about the columns:
+ name
+ how many rows are non-null
+ type

In [45]:
data.head()

,Continent,Country Name,Country Code,Series Name,Time,value,Data Source,reverse_index
0,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN,World Bank,236880
1,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN,World Bank,236879
2,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN,World Bank,236878
3,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN,World Bank,236877
4,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN,World Bank,236876

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236880 entries, 0 to 236879
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Continent      196560 non-null  object
 1   Country Name   236880 non-null  object
 2   Country Code   236880 non-null  object
 3   Series Name    236880 non-null  object
 4   Time           236880 non-null  int64
 5   value          150582 non-null  float64
 6   Data Source    236880 non-null  object
 7   reverse_index  236880 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 13.6+ MB

We will return on talking about null values and columns types in a while.

<br/>

#### 5.1.1 Finding unique values

<br/>

To see a list of unique values we can use the `.unique()` function.

For example let's see the list of countries that this extraction has.

In [47]:
data['Country Name'].unique()

array(['China', 'Israel', 'Japan', 'Korea, Rep.', 'Austria', 'Belgium',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Latvia', 'Lithuania', 'Luxembourg', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Russian Federation', 'Slovak Republic',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'Canada', 'Mexico', 'United States', 'Australia',
       'New Zealand', 'Chile', 'Colombia',
       'Central Europe and the Baltics', 'Euro area', 'European Union',
       'High income', 'Low income', 'Middle income', 'OECD members',
       'World'], dtype=object)

<br/>

#### 5.1.2 Counting unique values

<br/>

To see a list of values and how often they occur in a data set we can use `value_counts()` method. For example, let's see how many observations per year we have.

In [48]:
data.Time.value_counts().sort_index()

2000    11280
2001    11280
2002    11280
2003    11280
2004    11280
2005    11280
2006    11280
2007    11280
2008    11280
2009    11280
2010    11280
2011    11280
2012    11280
2013    11280
2014    11280
2015    11280
2016    11280
2017    11280
2018    11280
2019    11280
2020    11280
Name: Time, dtype: int64

<br/>

### 5.2 [Maps](#VI.II)
<a id="VI.II"></a>
<br/>
A **map** is a term borrowed from mathematics. It can be seen as a function that takes one set of values and "maps" them to another set of values. In data science we often need to create new representations from existing data, or transform data from the format we recieve it (for example from our operations team) to the format we want it to be later for models or business presentations. Maps are what handle this type of work.

There are two mapping methods that you will often use.

`map()` is slightly the simpler one. For example, suppose that we need to remean the GDP to 0. We can do it in the following way.

Again to do so, we need to:

1. select the rows where the `Series Name` is equal to `Population, total`
2. select the rows where the `Country Name` is equal to `Portugal`
3. extract `value` series
4. apply the method mentioned before

In [49]:
#First extract the relevant subset of data
condition_1 = data.loc[:,'Series Name']=='GDP (constant 2010 US$)'
condition_2 = data.loc[:,'Country Name']=='Portugal'

#Optional step
port_gdp_data = data.loc[(condition_1) & (condition_2)].set_index('Time')

#Then let's create a variable with the mean value of the column
mean_gdp = port_gdp_data.value.mean()

#Then lets assign its new value to existing column leveraging 
#Python native lambda function
port_gdp_data.value.map(lambda x:x-mean_gdp)

Time
2000   -1.152082e+10
2013   -1.043971e+10
2014   -8.678760e+09
2012   -8.369676e+09
2003   -7.597363e+09
2001   -7.221284e+09
2002   -5.482799e+09
2015   -4.663696e+09
2004   -3.570373e+09
2005   -1.778709e+09
2016   -5.797267e+07
2009    1.090115e+09
2011    1.118145e+09
2006    1.974295e+09
2010    5.152997e+09
2007    7.857293e+09
2017    8.100237e+09
2008    8.625356e+09
2018    1.496222e+10
2019    2.050051e+10
2020             NaN
Name: value, dtype: float64

The function you pass to `map()` expects a single value from the `Series`, and return a transformed version of that value (in our example that same value minus the column mean). `map()` returns a new `Series` where all the values have been transformed by your function.
<br/>
<hr>

#### 5.2.1 Quick review about Python's lambda expression

<hr>
<br/>
Lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def. 

Function objects returned by running lambda expressions work exactly the same as those created and assigned by `def`s. There is a key difference that makes lambda useful in specialized roles. Pandas library works very well with lambda expressions.

**lambda's body is a single expression, not a block of statements.**

+ The lambda's body is similar to what we would put in a `def` body return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def to handle the larger tasks.




Lets generate a simple function and compare it with its equivalent lambda expression.

In [50]:
def square(num):
    result=num**2
    return result

In [51]:
square(4)

16

This is the from that a lambda expression trying to replicate the function above would take.

In [52]:
lambda num:num**2

Note that the output is a function (in our data set this function is passed to `map()` method so it can be applied to each of the elements of the column). So we need to assing it to a variable to then use it in the desired way

In [53]:
lambda_square = lambda num:num**2

In [54]:
lambda_square(4)

16

Now, lets generate a lambda function that will allow us to have a quick overview of any dataset that we may encounter.

In [55]:
def rstr(df): 
    print("Shape: {}\nCols unique values:\n{}".format(df.shape, df.apply(lambda x: [x.unique()]))) 

rstr(data)

Shape: (236880, 8)
Cols unique values:
                                           Continent  \
0  [Asia, Europe, North America, Oceania, South A...

                                        Country Name  \
0  [China, Israel, Japan, Korea, Rep., Austria, B...

                                        Country Code  \
0  [CHN, ISR, JPN, KOR, AUT, BEL, CZE, DNK, EST, ...

                                         Series Name  \
0  [ARI treatment (% of children under 5 taken to...

                                                Time  \
0  [2000, 2001, 2002, 2003, 2004, 2005, 2006, 200...

                                               value   Data Source  \
0  [nan, 96.9071044921875, 97.2181396484375, 97.5...  [World Bank]

                                       reverse_index
0  [236880, 236879, 236878, 236877, 236876, 23687...

<br/>
<hr>
<hr>
<br/>

`apply()` is the equivalent mehtod if we want to transform a whole `DataFrame` by calling a custom method on each row. For example, lets define the mean_gdp function and then use it to transform our data.

In [56]:
def remean_gdp(row):
    row.value = row.value - mean_gdp
    return row

In [57]:
port_gdp_data.apply(remean_gdp,axis='columns')

,Continent,Country Name,Country Code,Series Name,value,Data Source,reverse_index
Time,,,,,,,
2000,Europe,Portugal,PRT,GDP (constant 2010 US$),-1.152082e+10,World Bank,118356
2013,Europe,Portugal,PRT,GDP (constant 2010 US$),-1.043971e+10,World Bank,118355
2014,Europe,Portugal,PRT,GDP (constant 2010 US$),-8.678760e+09,World Bank,118354
2012,Europe,Portugal,PRT,GDP (constant 2010 US$),-8.369676e+09,World Bank,118353
2003,Europe,Portugal,PRT,GDP (constant 2010 US$),-7.597363e+09,World Bank,118352
2001,Europe,Portugal,PRT,GDP (constant 2010 US$),-7.221284e+09,World Bank,118351
2002,Europe,Portugal,PRT,GDP (constant 2010 US$),-5.482799e+09,World Bank,118350
2015,Europe,Portugal,PRT,GDP (constant 2010 US$),-4.663696e+09,World Bank,118349
2004,Europe,Portugal,PRT,GDP (constant 2010 US$),-3.570373e+09,World Bank,118348
2005,Europe,Portugal,PRT,GDP (constant 2010 US$),-1.778709e+09,World Bank,118347
2016,Europe,Portugal,PRT,GDP (constant 2010 US$),-5.797267e+07,World Bank,118346
2009,Europe,Portugal,PRT,GDP (constant 2010 US$),1.090115e+09,World Bank,118345
2011,Europe,Portugal,PRT,GDP (constant 2010 US$),1.118145e+09,World Bank,118344
2006,Europe,Portugal,PRT,GDP (constant 2010 US$),1.974295e+09,World Bank,118343
2010,Europe,Portugal,PRT,GDP (constant 2010 US$),5.152997e+09,World Bank,118342
2007,Europe,Portugal,PRT,GDP (constant 2010 US$),7.857293e+09,World Bank,118341
2017,Europe,Portugal,PRT,GDP (constant 2010 US$),8.100237e+09,World Bank,118340
2008,Europe,Portugal,PRT,GDP (constant 2010 US$),8.625356e+09,World Bank,118339
2018,Europe,Portugal,PRT,GDP (constant 2010 US$),1.496222e+10,World Bank,118338
2019,Europe,Portugal,PRT,GDP (constant 2010 US$),2.050051e+10,World Bank,118337
2020,Europe,Portugal,PRT,GDP (constant 2010 US$),NaN,World Bank,118336

If we called the `port_gdp_data.apply()` with `axis='index'`, then instead of passing a function to transform each row, we would need to give a function to transform each **column** .

Note that both `map()`and `apply()`methods return a new transformed `Series`and `DataFrame`respectively. They do not modify the original dataset they uses as input. If we look at the original `port_gdp_data` we can see that it still has its original `value`.

In [58]:
port_gdp_data.value

Time
2000    2.212071e+11
2013    2.222882e+11
2014    2.240492e+11
2012    2.243582e+11
2003    2.251305e+11
2001    2.255066e+11
2002    2.272451e+11
2015    2.280642e+11
2004    2.291575e+11
2005    2.309492e+11
2016    2.326699e+11
2009    2.338180e+11
2011    2.338461e+11
2006    2.347022e+11
2010    2.378809e+11
2007    2.405852e+11
2017    2.408281e+11
2008    2.413533e+11
2018    2.476901e+11
2019    2.532284e+11
2020             NaN
Name: value, dtype: float64

<br/>

#### 5.2.2 **Built in mapping operators in Pandas**

<br/>
For the most common operators we need not to use explicitly the `map()` method. For example, here is a faster way of remeaning our `value` column.

In [59]:
port_gdp_data.value-mean_gdp

Time
2000   -1.152082e+10
2013   -1.043971e+10
2014   -8.678760e+09
2012   -8.369676e+09
2003   -7.597363e+09
2001   -7.221284e+09
2002   -5.482799e+09
2015   -4.663696e+09
2004   -3.570373e+09
2005   -1.778709e+09
2016   -5.797267e+07
2009    1.090115e+09
2011    1.118145e+09
2006    1.974295e+09
2010    5.152997e+09
2007    7.857293e+09
2017    8.100237e+09
2008    8.625356e+09
2018    1.496222e+10
2019    2.050051e+10
2020             NaN
Name: value, dtype: float64

Note that in the code above we are performing an operation between a lot of vales on the left-hand side (actually everyting in the `Series`) and a single value on the right-hand side (the mean value $230,698,913,940.09$). Pandas looks at this expression and figures out that we must mean to substract that value from every value in the column.

Pandas will also understand what to do if we perform these operations between `Series` of equal length. For example, an easy way to combine the continent and country name of our data is by doing the following:

In [60]:
data['Country Name']+ " " + data.Time.astype(str)

0         China 2000
1         China 2001
2         China 2002
3         China 2003
4         China 2004
             ...
236875    World 2015
236876    World 2017
236877    World 2018
236878    World 2019
236879    World 2020
Length: 236880, dtype: object

In the cell above I introduced the method `.astype()` to transform `Time` from an integer column to a string column. 

This needs to be done because Pandas can only concatenate a string with other string or equivalently can only add a number with other number. Both operations are performed with the same `+` operator.

<div class="alert alert-block alert-info">
    <b>Note:</b>  Performing this operators rather than using <code>map()</code> or <code>apply()</code> methods is faster because they use speed ups built into Pandas. Actualy, all of the standard Python operators (greater, lesser or equal than) work in this manner.
</div>

However, they are not as flexible as `map()` or `apply()`, which can do more advanced things, like applying conditional logic, which cannot be done with addition and substraction alone.

<br/>

## 6. [Grouping and Sorting](#V)
<a id="V"></a>
<br/>

### 6.1 [Grouping](#V.I)
<a id="V.I"></a>
<br/>

Most data operations are done on groups defined by variables for creating them pandas `DataFrame`s have the method `groupby()`. The way it generally works is as follows:

1. Define the *groups* based on a set of columns in your data
2. Summarize the information of other columns at the grouped level

For the second step the method you will need to use is `agg()`, this method will allow you to summarize a set of columns each of them with a specific summary function. The structure of the command is presented in the image below:
<br/>

<p align="center">
  <img width="820" height="500" src="https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2019/10/pandas-python-group-by-named-aggregation-update.jpg">
</p>

<br/>

Now, let's make a simple table with summary statistcis of our data

In [61]:
data[data['Series Name']=='GDP per capita (constant 2010 US$)'].groupby(['Continent',
                                                                        'Country Name',
                                                                        'Series Name']).agg(Average=pd.NamedAgg(column='value',aggfunc='mean'),
                                                                                            Standard_Deviation=pd.NamedAgg(column='value',aggfunc='std'),
                                                                                            Min_Value=pd.NamedAgg(column='value',aggfunc='min'),
                                                                                           Max_Value=pd.NamedAgg(column='value',aggfunc='max'))#.reset_index()

                                                                           Average  \
Continent     Country Name       Series Name
Asia          China              GDP per capita (constant 2010 US$)    4556.244940
              Israel             GDP per capita (constant 2010 US$)   30532.244007
              Japan              GDP per capita (constant 2010 US$)   45200.460152
              Korea, Rep.        GDP per capita (constant 2010 US$)   22357.751583
Europe        Austria            GDP per capita (constant 2010 US$)   46549.915097
              Belgium            GDP per capita (constant 2010 US$)   43775.145328
              Czech Republic     GDP per capita (constant 2010 US$)   19636.304094
              Denmark            GDP per capita (constant 2010 US$)   59476.436816
              Estonia            GDP per capita (constant 2010 US$)   15757.690518
              Finland            GDP per capita (constant 2010 US$)   45892.939625
              France             GDP per capita (constant 2010 US$)   40994.730389
              Germany            GDP per capita (constant 2010 US$)   42273.424309
              Greece             GDP per capita (constant 2010 US$)   25330.098001
              Hungary            GDP per capita (constant 2010 US$)   13667.250774
              Iceland            GDP per capita (constant 2010 US$)   44853.139385
              Ireland            GDP per capita (constant 2010 US$)   55213.604035
              Italy              GDP per capita (constant 2010 US$)   36039.119490
              Latvia             GDP per capita (constant 2010 US$)   12251.866088
              Lithuania          GDP per capita (constant 2010 US$)   12675.790944
              Luxembourg         GDP per capita (constant 2010 US$)  104137.238538
              Netherlands        GDP per capita (constant 2010 US$)   50615.154052
              Norway             GDP per capita (constant 2010 US$)   88279.986638
              Poland             GDP per capita (constant 2010 US$)   12343.139965
              Portugal           GDP per capita (constant 2010 US$)   22300.409787
              Russian Federation GDP per capita (constant 2010 US$)   10097.678057
              Slovak Republic    GDP per capita (constant 2010 US$)   15954.997459
              Slovenia           GDP per capita (constant 2010 US$)   23088.166866
              Spain              GDP per capita (constant 2010 US$)   30725.817763
              Sweden             GDP per capita (constant 2010 US$)   52388.576732
              Switzerland        GDP per capita (constant 2010 US$)   73697.843956
              Turkey             GDP per capita (constant 2010 US$)   11370.940562
              United Kingdom     GDP per capita (constant 2010 US$)   40246.535752
North America Canada             GDP per capita (constant 2010 US$)   46822.588477
              Mexico             GDP per capita (constant 2010 US$)    9578.471319
              United States      GDP per capita (constant 2010 US$)   49483.279291
Oceania       Australia          GDP per capita (constant 2010 US$)   51505.300093
              New Zealand        GDP per capita (constant 2010 US$)   34406.611947
South America Chile              GDP per capita (constant 2010 US$)   12676.518253
              Colombia           GDP per capita (constant 2010 US$)    6361.679107

                                                                     Standard_Deviation  \
Continent     Country Name       Series Name
Asia          China              GDP per capita (constant 2010 US$)         2102.770437
              Israel             GDP per capita (constant 2010 US$)         2921.768306
              Japan              GDP per capita (constant 2010 US$)         2226.103523
              Korea, Rep.        GDP per capita (constant 2010 US$)         4129.923166
Europe        Austria            GDP per capita (constant 2010 US$)         2568.908686
              Belgium            GDP per capita (constant 2010 US$)         2322.845889
              Czech Republic     GDP per capita (constant 2010 US$)         2721.448959
              Denmark            GDP per capita (constant 2010 US$)         2798.251298
              Estonia            GDP per capita (constant 2010 US$)         2981.403386
              Finland            GDP per capita (constant 2010 US$)         2670.699984
              France             GDP per capita (constant 2010 US$)         1607.067878
              Germany            GDP per capita (constant 2010 US$)         3353.587442
              Greece             GDP per capita (constant 2010 US$)         2682.716472
              Hungary            GDP per capita (constant 2010 US$)         1802.350546
              Iceland            GDP per capita (constant 2010 US$)         4409.132952
              Ireland            GDP per capita (constant 2010 US$)        10696.327597
              Italy              GDP per capita (constant 2010 US$)         1385.332995
              Latvia             GDP per capita (constant 2010 US$)         2846.116630
              Lithuania          GDP per capita (constant 2010 US$)         3400.830500
              Luxembourg         GDP per capita (constant 2010 US$)         5525.784050
              Netherlands        GDP per capita (constant 2010 US$)         2692.946191
              Norway             GDP per capita (constant 2010 US$)         3139.712049
              Poland             GDP per capita (constant 2010 US$)         2743.980724
              Portugal           GDP per capita (constant 2010 US$)          899.898951
              Russian Federation GDP per capita (constant 2010 US$)         1828.498063
              Slovak Republic    GDP per capita (constant 2010 US$)         3373.615443
              Slovenia           GDP per capita (constant 2010 US$)         2420.996419
              Spain              GDP per capita (constant 2010 US$)         1399.189084
              Sweden             GDP per capita (constant 2010 US$)         4117.878270
              Switzerland        GDP per capita (constant 2010 US$)         3930.010865
              Turkey             GDP per capita (constant 2010 US$)         2488.011265
              United Kingdom     GDP per capita (constant 2010 US$)         2200.246183
North America Canada             GDP per capita (constant 2010 US$)         4109.105200
              Mexico             GDP per capita (constant 2010 US$)          467.024117
              United States      GDP per capita (constant 2010 US$)         3180.862066
Oceania       Australia          GDP per capita (constant 2010 US$)         4076.217110
              New Zealand        GDP per capita (constant 2010 US$)         2664.824854
South America Chile              GDP per capita (constant 2010 US$)         1994.737343
              Colombia           GDP per capita (constant 2010 US$)         1080.829699

                                                                        Min_Value  \
Continent     Country Name       Series Name
Asia          China              GDP per capita (constant 2010 US$)   1767.859627
              Israel             GDP per capita (constant 2010 US$)  26360.089759
              Japan              GDP per capita (constant 2010 US$)  42169.733284
              Korea, Rep.        GDP per capita (constant 2010 US$)  15414.291565
Europe        Austria            GDP per capita (constant 2010 US$)  42001.210775
              Belgium            GDP per capita (constant 2010 US$)  39588.597878
              Czech Republic     GDP per capita (constant 2010 US$)  14889.069917
              Denmark            GDP per capita (constant 2010 US$)  55850.630758
              Estonia            GDP per capita (constant 2010 US$)  10062.437159
              Finland            GDP per capita (constant 2010 US$)  40403.202005
              France             GDP per capita (constant 2010 US$)  38309.442739
              Germany            GDP per capita (constant 2010 US$)  37934.451783
              Greece             GDP per capita (constant 2010 US$)  22251.257305
              Hungary            GDP per capita (constant 2010 US$)  10480.079029
              Iceland            GDP per capita (constant 2010 US$)  37465.451902
              Ireland            GDP per capita (constant 2010 US$)  44101.107678
              Italy              GDP per capita (constant 2010 US$)  33666.691911
              Latvia             GDP per capita (constant 2010 US$)   6964.919019
              Lithuania          GDP per capita (constant 2010 US$)   6934.493381
              Luxembourg         GDP per capita (constant 2010 US$)  93462.926163
              Netherlands        GDP per capita (constant 2010 US$)  46435.214554
              Norway             GDP per capita (constant 2010 US$)  81653.344882
              Poland             GDP per capita (constant 2010 US$)   8545.452230
              Portugal           GDP per capita (constant 2010 US$)  21256.759586
              Russian Federation GDP per capita (constant 2010 US$)   6491.072227
              Slovak Republic    GDP per capita (constant 2010 US$)  10320.647160
              Slovenia           GDP per capita (constant 2010 US$)  18523.166293
              Spain              GDP per capita (constant 2010 US$)  28408.806769
              Sweden             GDP per capita (constant 2010 US$)  44941.670370
              Switzerland        GDP per capita (constant 2010 US$)  67385.297790
              Turkey             GDP per capita (constant 2010 US$)   7686.542201
              United Kingdom     GDP per capita (constant 2010 US$)  35672.911983
North America Canada             GDP per capita (constant 2010 US$)  39338.836899
              Mexico             GDP per capita (constant 2010 US$)   8947.741474
              United States      GDP per capita (constant 2010 US$)  44726.965396
Oceania       Australia          GDP per capita (constant 2010 US$)  44334.416392
              New Zealand        GDP per capita (constant 2010 US$)  29354.513712
South America Chile              GDP per capita (constant 2010 US$)   9419.982950
              Colombia           GDP per capita (constant 2010 US$)   4862.876053

                                                                         Max_Value
Continent     Country Name       Series Name
Asia          China              GDP per capita (constant 2010 US$)    8254.532817
              Israel             GDP per capita (constant 2010 US$)   35278.921021
              Japan              GDP per capita (constant 2010 US$)   49187.833090
              Korea, Rep.        GDP per capita (constant 2010 US$)   28675.034407
Europe        Austria            GDP per capita (constant 2010 US$)   50552.906121
              Belgium            GDP per capita (constant 2010 US$)   47618.298207
              Czech Republic     GDP per capita (constant 2010 US$)   24265.989203
              Denmark            GDP per capita (constant 2010 US$)   65820.238103
              Estonia            GDP per capita (constant 2010 US$)   20856.018463
              Finland            GDP per capita (constant 2010 US$)   49440.855187
              France             GDP per capita (constant 2010 US$)   44317.392305
              Germany            GDP per capita (constant 2010 US$)   47446.729846
              Greece             GDP per capita (constant 2010 US$)   30054.889338
              Hungary            GDP per capita (constant 2010 US$)   17572.310647
              Iceland            GDP per capita (constant 2010 US$)   51592.654610
              Ireland            GDP per capita (constant 2010 US$)   79703.411608
              Italy              GDP per capita (constant 2010 US$)   38272.204096
              Latvia             GDP per capita (constant 2010 US$)   16722.104957
              Lithuania          GDP per capita (constant 2010 US$)   18609.715935
              Luxembourg         GDP per capita (constant 2010 US$)  111968.349256
              Netherlands        GDP per capita (constant 2010 US$)   55488.967076
              Norway             GDP per capita (constant 2010 US$)   92556.321645
              Poland             GDP per capita (constant 2010 US$)   17406.552080
              Portugal           GDP per capita (constant 2010 US$)   24658.500197
              Russian Federation GDP per capita (constant 2010 US$)   12011.531801
              Slovak Republic    GDP per capita (constant 2010 US$)   20999.130037
              Slovenia           GDP per capita (constant 2010 US$)   27426.794107
              Spain              GDP per capita (constant 2010 US$)   33392.527360
              Sweden             GDP per capita (constant 2010 US$)   58012.961437
              Switzerland        GDP per capita (constant 2010 US$)   79406.657667
              Turkey             GDP per capita (constant 2010 US$)   15190.099475
              United Kingdom     GDP per capita (constant 2010 US$)   43711.708459
North America Canada             GDP per capita (constant 2010 US$)   51588.761434
              Mexico             GDP per capita (constant 2010 US$)   10385.832657
              United States      GDP per capita (constant 2010 US$)   55753.144369
Oceania       Australia          GDP per capita (constant 2010 US$)   57186.621293
              New Zealand        GDP per capita (constant 2010 US$)   38992.974463
South America Chile              GDP per capita (constant 2010 US$)   15111.695423
              Colombia           GDP per capita (constant 2010 US$)    7838.209714

There are aggregation functions already predifined by pandas below you can see a **non-exhaustive** list of them:


| Function | Description  |
| :-----: | :-----: |
| count | Number of non-null observations |
| sum | Sum of values |
| mean | Mean of values |
| mad | Mean absolute deviation |
| median | Arithmetic median of values |
| min | Minimum |
| max | Maximum |
| mode | Mode |
| abs | Absolute Value |
| prod | Product of values |
| var | Unbiased variance |
| sem | Unbiased standard error of the mean |
| skew | Unbiased skewness (3rd moment) |
| kurt | Unbiased kurtosis (4th moment) |
| quantile | Sample quantile (value at %) |
| cumsum | Cumulative sum |
| cumprod | Sample quantile (value at %) |
| quantile | Cumulative product |
| cummax | Cumulative maximum |
| cummin | Cumulative minimum |

Note that it is also possible to create your own aggregation functions. However, the need for custom functions is minimal unless you have very specific requirements. The full range of basic statistics that are quickly calculable and built into the base Pandas package can be found [here](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html)

<br/>

### 6.2 [Sorting](#V.II)
<a id="V.II"></a>
<br/>

Now, imagine you need to sort in a descending way the results shown above. By using the `DataFrame` method `sort_values()` and selecting the parameter `ascending=False` this process can be easily performed.

In [62]:
data[data['Series Name']=='GDP per capita (constant 2010 US$)'].groupby(['Continent',
                                                                        'Country Name',
                                                                        'Series Name']).agg(Average=pd.NamedAgg(column='value',aggfunc='mean'),
                                                                                            Standard_Deviation=pd.NamedAgg(column='value',aggfunc='std'),
                                                                                            Min_Value=pd.NamedAgg(column='value',aggfunc='min'),
                                                                                           Max_Value=pd.NamedAgg(column='value',aggfunc='max')).sort_values(by=['Average'],
                                                                                           ascending =False)

                                                                           Average  \
Continent     Country Name       Series Name
Europe        Luxembourg         GDP per capita (constant 2010 US$)  104137.238538
              Norway             GDP per capita (constant 2010 US$)   88279.986638
              Switzerland        GDP per capita (constant 2010 US$)   73697.843956
              Denmark            GDP per capita (constant 2010 US$)   59476.436816
              Ireland            GDP per capita (constant 2010 US$)   55213.604035
              Sweden             GDP per capita (constant 2010 US$)   52388.576732
Oceania       Australia          GDP per capita (constant 2010 US$)   51505.300093
Europe        Netherlands        GDP per capita (constant 2010 US$)   50615.154052
North America United States      GDP per capita (constant 2010 US$)   49483.279291
              Canada             GDP per capita (constant 2010 US$)   46822.588477
Europe        Austria            GDP per capita (constant 2010 US$)   46549.915097
              Finland            GDP per capita (constant 2010 US$)   45892.939625
Asia          Japan              GDP per capita (constant 2010 US$)   45200.460152
Europe        Iceland            GDP per capita (constant 2010 US$)   44853.139385
              Belgium            GDP per capita (constant 2010 US$)   43775.145328
              Germany            GDP per capita (constant 2010 US$)   42273.424309
              France             GDP per capita (constant 2010 US$)   40994.730389
              United Kingdom     GDP per capita (constant 2010 US$)   40246.535752
              Italy              GDP per capita (constant 2010 US$)   36039.119490
Oceania       New Zealand        GDP per capita (constant 2010 US$)   34406.611947
Europe        Spain              GDP per capita (constant 2010 US$)   30725.817763
Asia          Israel             GDP per capita (constant 2010 US$)   30532.244007
Europe        Greece             GDP per capita (constant 2010 US$)   25330.098001
              Slovenia           GDP per capita (constant 2010 US$)   23088.166866
Asia          Korea, Rep.        GDP per capita (constant 2010 US$)   22357.751583
Europe        Portugal           GDP per capita (constant 2010 US$)   22300.409787
              Czech Republic     GDP per capita (constant 2010 US$)   19636.304094
              Slovak Republic    GDP per capita (constant 2010 US$)   15954.997459
              Estonia            GDP per capita (constant 2010 US$)   15757.690518
              Hungary            GDP per capita (constant 2010 US$)   13667.250774
South America Chile              GDP per capita (constant 2010 US$)   12676.518253
Europe        Lithuania          GDP per capita (constant 2010 US$)   12675.790944
              Poland             GDP per capita (constant 2010 US$)   12343.139965
              Latvia             GDP per capita (constant 2010 US$)   12251.866088
              Turkey             GDP per capita (constant 2010 US$)   11370.940562
              Russian Federation GDP per capita (constant 2010 US$)   10097.678057
North America Mexico             GDP per capita (constant 2010 US$)    9578.471319
South America Colombia           GDP per capita (constant 2010 US$)    6361.679107
Asia          China              GDP per capita (constant 2010 US$)    4556.244940

                                                                     Standard_Deviation  \
Continent     Country Name       Series Name
Europe        Luxembourg         GDP per capita (constant 2010 US$)         5525.784050
              Norway             GDP per capita (constant 2010 US$)         3139.712049
              Switzerland        GDP per capita (constant 2010 US$)         3930.010865
              Denmark            GDP per capita (constant 2010 US$)         2798.251298
              Ireland            GDP per capita (constant 2010 US$)        10696.327597
              Sweden             GDP per capita (constant 2010 US$)         4117.878270
Oceania       Australia          GDP per capita (constant 2010 US$)         4076.217110
Europe        Netherlands        GDP per capita (constant 2010 US$)         2692.946191
North America United States      GDP per capita (constant 2010 US$)         3180.862066
              Canada             GDP per capita (constant 2010 US$)         4109.105200
Europe        Austria            GDP per capita (constant 2010 US$)         2568.908686
              Finland            GDP per capita (constant 2010 US$)         2670.699984
Asia          Japan              GDP per capita (constant 2010 US$)         2226.103523
Europe        Iceland            GDP per capita (constant 2010 US$)         4409.132952
              Belgium            GDP per capita (constant 2010 US$)         2322.845889
              Germany            GDP per capita (constant 2010 US$)         3353.587442
              France             GDP per capita (constant 2010 US$)         1607.067878
              United Kingdom     GDP per capita (constant 2010 US$)         2200.246183
              Italy              GDP per capita (constant 2010 US$)         1385.332995
Oceania       New Zealand        GDP per capita (constant 2010 US$)         2664.824854
Europe        Spain              GDP per capita (constant 2010 US$)         1399.189084
Asia          Israel             GDP per capita (constant 2010 US$)         2921.768306
Europe        Greece             GDP per capita (constant 2010 US$)         2682.716472
              Slovenia           GDP per capita (constant 2010 US$)         2420.996419
Asia          Korea, Rep.        GDP per capita (constant 2010 US$)         4129.923166
Europe        Portugal           GDP per capita (constant 2010 US$)          899.898951
              Czech Republic     GDP per capita (constant 2010 US$)         2721.448959
              Slovak Republic    GDP per capita (constant 2010 US$)         3373.615443
              Estonia            GDP per capita (constant 2010 US$)         2981.403386
              Hungary            GDP per capita (constant 2010 US$)         1802.350546
South America Chile              GDP per capita (constant 2010 US$)         1994.737343
Europe        Lithuania          GDP per capita (constant 2010 US$)         3400.830500
              Poland             GDP per capita (constant 2010 US$)         2743.980724
              Latvia             GDP per capita (constant 2010 US$)         2846.116630
              Turkey             GDP per capita (constant 2010 US$)         2488.011265
              Russian Federation GDP per capita (constant 2010 US$)         1828.498063
North America Mexico             GDP per capita (constant 2010 US$)          467.024117
South America Colombia           GDP per capita (constant 2010 US$)         1080.829699
Asia          China              GDP per capita (constant 2010 US$)         2102.770437

                                                                        Min_Value  \
Continent     Country Name       Series Name
Europe        Luxembourg         GDP per capita (constant 2010 US$)  93462.926163
              Norway             GDP per capita (constant 2010 US$)  81653.344882
              Switzerland        GDP per capita (constant 2010 US$)  67385.297790
              Denmark            GDP per capita (constant 2010 US$)  55850.630758
              Ireland            GDP per capita (constant 2010 US$)  44101.107678
              Sweden             GDP per capita (constant 2010 US$)  44941.670370
Oceania       Australia          GDP per capita (constant 2010 US$)  44334.416392
Europe        Netherlands        GDP per capita (constant 2010 US$)  46435.214554
North America United States      GDP per capita (constant 2010 US$)  44726.965396
              Canada             GDP per capita (constant 2010 US$)  39338.836899
Europe        Austria            GDP per capita (constant 2010 US$)  42001.210775
              Finland            GDP per capita (constant 2010 US$)  40403.202005
Asia          Japan              GDP per capita (constant 2010 US$)  42169.733284
Europe        Iceland            GDP per capita (constant 2010 US$)  37465.451902
              Belgium            GDP per capita (constant 2010 US$)  39588.597878
              Germany            GDP per capita (constant 2010 US$)  37934.451783
              France             GDP per capita (constant 2010 US$)  38309.442739
              United Kingdom     GDP per capita (constant 2010 US$)  35672.911983
              Italy              GDP per capita (constant 2010 US$)  33666.691911
Oceania       New Zealand        GDP per capita (constant 2010 US$)  29354.513712
Europe        Spain              GDP per capita (constant 2010 US$)  28408.806769
Asia          Israel             GDP per capita (constant 2010 US$)  26360.089759
Europe        Greece             GDP per capita (constant 2010 US$)  22251.257305
              Slovenia           GDP per capita (constant 2010 US$)  18523.166293
Asia          Korea, Rep.        GDP per capita (constant 2010 US$)  15414.291565
Europe        Portugal           GDP per capita (constant 2010 US$)  21256.759586
              Czech Republic     GDP per capita (constant 2010 US$)  14889.069917
              Slovak Republic    GDP per capita (constant 2010 US$)  10320.647160
              Estonia            GDP per capita (constant 2010 US$)  10062.437159
              Hungary            GDP per capita (constant 2010 US$)  10480.079029
South America Chile              GDP per capita (constant 2010 US$)   9419.982950
Europe        Lithuania          GDP per capita (constant 2010 US$)   6934.493381
              Poland             GDP per capita (constant 2010 US$)   8545.452230
              Latvia             GDP per capita (constant 2010 US$)   6964.919019
              Turkey             GDP per capita (constant 2010 US$)   7686.542201
              Russian Federation GDP per capita (constant 2010 US$)   6491.072227
North America Mexico             GDP per capita (constant 2010 US$)   8947.741474
South America Colombia           GDP per capita (constant 2010 US$)   4862.876053
Asia          China              GDP per capita (constant 2010 US$)   1767.859627

                                                                         Max_Value
Continent     Country Name       Series Name
Europe        Luxembourg         GDP per capita (constant 2010 US$)  111968.349256
              Norway             GDP per capita (constant 2010 US$)   92556.321645
              Switzerland        GDP per capita (constant 2010 US$)   79406.657667
              Denmark            GDP per capita (constant 2010 US$)   65820.238103
              Ireland            GDP per capita (constant 2010 US$)   79703.411608
              Sweden             GDP per capita (constant 2010 US$)   58012.961437
Oceania       Australia          GDP per capita (constant 2010 US$)   57186.621293
Europe        Netherlands        GDP per capita (constant 2010 US$)   55488.967076
North America United States      GDP per capita (constant 2010 US$)   55753.144369
              Canada             GDP per capita (constant 2010 US$)   51588.761434
Europe        Austria            GDP per capita (constant 2010 US$)   50552.906121
              Finland            GDP per capita (constant 2010 US$)   49440.855187
Asia          Japan              GDP per capita (constant 2010 US$)   49187.833090
Europe        Iceland            GDP per capita (constant 2010 US$)   51592.654610
              Belgium            GDP per capita (constant 2010 US$)   47618.298207
              Germany            GDP per capita (constant 2010 US$)   47446.729846
              France             GDP per capita (constant 2010 US$)   44317.392305
              United Kingdom     GDP per capita (constant 2010 US$)   43711.708459
              Italy              GDP per capita (constant 2010 US$)   38272.204096
Oceania       New Zealand        GDP per capita (constant 2010 US$)   38992.974463
Europe        Spain              GDP per capita (constant 2010 US$)   33392.527360
Asia          Israel             GDP per capita (constant 2010 US$)   35278.921021
Europe        Greece             GDP per capita (constant 2010 US$)   30054.889338
              Slovenia           GDP per capita (constant 2010 US$)   27426.794107
Asia          Korea, Rep.        GDP per capita (constant 2010 US$)   28675.034407
Europe        Portugal           GDP per capita (constant 2010 US$)   24658.500197
              Czech Republic     GDP per capita (constant 2010 US$)   24265.989203
              Slovak Republic    GDP per capita (constant 2010 US$)   20999.130037
              Estonia            GDP per capita (constant 2010 US$)   20856.018463
              Hungary            GDP per capita (constant 2010 US$)   17572.310647
South America Chile              GDP per capita (constant 2010 US$)   15111.695423
Europe        Lithuania          GDP per capita (constant 2010 US$)   18609.715935
              Poland             GDP per capita (constant 2010 US$)   17406.552080
              Latvia             GDP per capita (constant 2010 US$)   16722.104957
              Turkey             GDP per capita (constant 2010 US$)   15190.099475
              Russian Federation GDP per capita (constant 2010 US$)   12011.531801
North America Mexico             GDP per capita (constant 2010 US$)   10385.832657
South America Colombia           GDP per capita (constant 2010 US$)    7838.209714
Asia          China              GDP per capita (constant 2010 US$)    8254.532817

<br/>

## 7. [Data Types and Missing Values](#IV)
<a id="IV"></a>
<br/>

### 7.1 [Data Types](#IV.I)
<a id="IV.I"></a>
<br/>

At the end of the prior section we introduced an operator to modify the type a specific column. The correct name of the type of a column in a `DataFrame` (or `Series`) is **dtype**.

<br/>

#### 7.1.1 Specific Column
<br/>

So, you can use the `dtype` attribute of a `Series` to grab the type of a specific column. For instance, we can get the `dtype` of the `Time` column in our data.

In [63]:
data.Time.dtype

dtype('int64')

<br/>

#### 7.1.2 Every column in the dataset
<br/>
Alternatively, the `dtypes` attribute of a `DataFrame` returns the `dtype`of *every* column.

In [64]:
data.dtypes

Continent         object
Country Name      object
Country Code      object
Series Name       object
Time               int64
value            float64
Data Source       object
reverse_index      int32
dtype: object

Data types tell us something about how pandas is storing the data internally. For example, `float64` means that it is using a 64-bit floating point number, whereas `int64` means a similarly sized integer instead.

One peculiarity to keep in mind is that columns consisting entirely of strings do not get their own type, instead they are given the `object` type.

As we presented before, function `.astype()` makes possible to convert a column of one type into another wherever such a convertion makes sense. 

A `DataFrame` or `Series` index has its own `dtype` too.

In [65]:
data.index.dtype

dtype('int64')

As a final note to this section, let's remark that Pandas also supports more exoctic data types. For example, categorical data and timeseries data are also allowed.

### 7.2 [Missing data](#IV.II)
<a id="IV.II"></a>
<br/>
Entries with missing values are given the value NaN, short for "Not a Number". For technical reasons these `NaN` values are always of the `float64` dtype.
<br/>

#### 7.2.1 Selecting missing rows data
<br/>
Pandas provides some methods specific to missing data. To select `NaN` entries you can use `pd.isnull()` (or its companion `pd.notnull()`). For example, lets output all the rows of our dataset that has `value` column with missing values.

In [66]:
data[pd.isnull(data.value)]

,Continent,Country Name,Country Code,Series Name,Time,value,Data Source,reverse_index
0,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN,World Bank,236880
1,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN,World Bank,236879
2,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN,World Bank,236878
3,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN,World Bank,236877
4,Asia,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN,World Bank,236876
...,...,...,...,...,...,...,...,...
236815,NaN,World,WLD,Total natural resources rents (% of GDP),2019,NaN,World Bank,65
236816,NaN,World,WLD,Total natural resources rents (% of GDP),2020,NaN,World Bank,64
236837,NaN,World,WLD,Total reserves in months of imports,2020,NaN,World Bank,43
236858,NaN,World,WLD,Trade (% of GDP),2020,NaN,World Bank,22
236879,NaN,World,WLD,Trade in services (% of GDP),2020,NaN,World Bank,1

Replacing missing values is a common operation. Pandas provides a handy method for this problem: `fillna()`. `fillna()` provides a few different strategies for mitigating such data. For example, we can simply replace each `NaN`with an `"Unknown"`.

In [67]:
data.value.fillna("Unknown")

0           Unknown
1           Unknown
2           Unknown
3           Unknown
4           Unknown
            ...
236875    12.988569
236876    13.157617
236877    13.466429
236878    13.495904
236879      Unknown
Name: value, Length: 236880, dtype: object

Alternatively, we may have a none-null value that we would like to replace. For example, lets `replace()` the string value of `Continent` column from 'World' to 0, 'America' to 1, 'Europe' to 2, 'Middle East' to 3, 'Africa' to 4, 'Asia' to 5 and 'Oceania' to 6

In [68]:
data.Continent = data.Continent.replace("World",0)
data.Continent = data.Continent.replace("America",1)
data.Continent = data.Continent.replace("Europe",2)
data.Continent = data.Continent.replace("Middle East",3)
data.Continent = data.Continent.replace("Africa",4)
data.Continent = data.Continent.replace("Asia",5)
data.Continent = data.Continent.replace("Oceania",6)
data.Continent.unique()

array([5, 2, 'North America', 6, 'South America', nan], dtype=object)

<br/>

## 8. [Renaming and Combining](#IIV)
<a id="IIV"></a>
<br/>
Data comes often to us with column names, index names or other naming conventions that we are not satisfied with. In that case, we will learn how to use pandas functions to change the names of the entries we need to.

We will also explore three methods to combine data from multiple `DataFame` and/or `Series`.
<br/>

### 8.1 [Renaming](#IIV.I)
<a id="IIV.I"></a>
<br/>
The first function to introduce here is `rename()`, which allows you to change index names and/or column names. For example, to change the `value` column in our dataset to `Series Value`, we would do:
<br/>

In [69]:
data.rename(columns={'value':'Series Value'})

,Continent,Country Name,Country Code,Series Name,Time,Series Value,Data Source,reverse_index
0,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN,World Bank,236880
1,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN,World Bank,236879
2,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN,World Bank,236878
3,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN,World Bank,236877
4,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN,World Bank,236876
...,...,...,...,...,...,...,...,...
236875,NaN,World,WLD,Trade in services (% of GDP),2015,12.988569,World Bank,5
236876,NaN,World,WLD,Trade in services (% of GDP),2017,13.157617,World Bank,4
236877,NaN,World,WLD,Trade in services (% of GDP),2018,13.466429,World Bank,3
236878,NaN,World,WLD,Trade in services (% of GDP),2019,13.495904,World Bank,2
236879,NaN,World,WLD,Trade in services (% of GDP),2020,NaN,World Bank,1

`rename()` supports a variety of input formats, but usually a Python dictionary is the most convenient. For **modifying a set of columns** we leverage two core Python operators: `dict()` and `zip()`. The first one simply produces a dictionary (is equivalent to `{ }`), the second one is the `zip()` function that *paste* one on one each of the elements of two list.

In [70]:
#declare the set of column names to modify
old_names = ['Country Code',
            'Country Name',
            'Series Name',
            'Data Source'
            ]
new_names = ['Country_Code',
           'Country_Name',
           'Series_Name',
           'Data_Source']
data.rename(columns=dict(zip(old_names,new_names)))

,Continent,Country_Name,Country_Code,Series_Name,Time,value,Data_Source,reverse_index
0,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN,World Bank,236880
1,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN,World Bank,236879
2,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN,World Bank,236878
3,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN,World Bank,236877
4,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN,World Bank,236876
...,...,...,...,...,...,...,...,...
236875,NaN,World,WLD,Trade in services (% of GDP),2015,12.988569,World Bank,5
236876,NaN,World,WLD,Trade in services (% of GDP),2017,13.157617,World Bank,4
236877,NaN,World,WLD,Trade in services (% of GDP),2018,13.466429,World Bank,3
236878,NaN,World,WLD,Trade in services (% of GDP),2019,13.495904,World Bank,2
236879,NaN,World,WLD,Trade in services (% of GDP),2020,NaN,World Bank,1

`rename()` lets you rename *index* or *column* values by specifying `index` or `column` keyword parameter, respectively. Here is an example using it to rename some elements of the index.

In [71]:
data.rename(index={0:'FirstRow',1:'SecondRow'})

,Continent,Country Name,Country Code,Series Name,Time,value,Data Source,reverse_index
FirstRow,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN,World Bank,236880
SecondRow,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN,World Bank,236879
2,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN,World Bank,236878
3,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN,World Bank,236877
4,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN,World Bank,236876
...,...,...,...,...,...,...,...,...
236875,NaN,World,WLD,Trade in services (% of GDP),2015,12.988569,World Bank,5
236876,NaN,World,WLD,Trade in services (% of GDP),2017,13.157617,World Bank,4
236877,NaN,World,WLD,Trade in services (% of GDP),2018,13.466429,World Bank,3
236878,NaN,World,WLD,Trade in services (% of GDP),2019,13.495904,World Bank,2
236879,NaN,World,WLD,Trade in services (% of GDP),2020,NaN,World Bank,1

It is very common to rename columns, but rename index values is very rarely. For doing so it is usually more convenient to use the `set_index()` method.
<br/>

#### 8.1.1 Renaming axis
<br/>
Both rows and columns have their own name attribute. So, additionaly to renaming values of each axis  `rename_axis()` method may be used to change these name attribute (naming the hole rows or the hole columns). For example:

In [72]:
data.rename_axis("Observations",axis='rows').rename_axis("Features",axis='columns')

Features,Continent,Country Name,Country Code,Series Name,Time,value,Data Source,reverse_index
Observations,,,,,,,,
0,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2000,NaN,World Bank,236880
1,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2001,NaN,World Bank,236879
2,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2002,NaN,World Bank,236878
3,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2003,NaN,World Bank,236877
4,5,China,CHN,ARI treatment (% of children under 5 taken to ...,2004,NaN,World Bank,236876
...,...,...,...,...,...,...,...,...
236875,NaN,World,WLD,Trade in services (% of GDP),2015,12.988569,World Bank,5
236876,NaN,World,WLD,Trade in services (% of GDP),2017,13.157617,World Bank,4
236877,NaN,World,WLD,Trade in services (% of GDP),2018,13.466429,World Bank,3
236878,NaN,World,WLD,Trade in services (% of GDP),2019,13.495904,World Bank,2
236879,NaN,World,WLD,Trade in services (% of GDP),2020,NaN,World Bank,1

<br/>

### 8.2 [Combining](#IIV.II)
<a id="IIV.II"></a>
<br/>

When working on a dataset, we will sometimes need to combine different `DataFrames` and/or `Series` in *non-trivial* ways. Pandas has three core methods for doing this. Ranked on increasing complexity, these methods are `concat()`, `join()`, and `merge()`.

As its name says, `concat()` will concatenate two `DataFrames` together along an axis. This method is very useful when working with data in different `DataFrames` or `Series` objects but having the same fields (columns) . 

For example imagine that we need to create a report with a subset of the available goverment data from Portugal of the period. The indicators that we need to present are the following:

+ GDP (constant 2010 US\$)
+ Expense (\% of GDP)
+ Government expenditure on education, total (\% of GDP)
+ Domestic general government health expenditure (\% of GDP)

For this we will need to create a subset of the original dataframe with all the series available for Portugal. With it we will need to:

+ select all the rows where `Series Name` equals each of the desired indicators
+ rename `Series Name` to fit the indicator description
+ use the method mentioned above

In [73]:
#First of all let's select only entries reported by Portugal
portugal_data =data.loc[data.loc[:,'Country Name']=='Portugal'] .set_index('Time')

In [74]:
#Then let's set the conditions to select the data
gdp_total = portugal_data['Series Name']=='GDP (constant 2010 US$)'
govexp = portugal_data['Series Name']=='Expense (% of GDP)'
govexpeduc = portugal_data['Series Name']=='Government expenditure on education, total (% of GDP)'
govhealth = portugal_data['Series Name']=='Domestic general government health expenditure (% of GDP)'

In [ ]:
#Then select and rename each series
gdp_series = portugal_data.loc[gdp_total].rename(columns={'value':'GDP'}).GDP
govexp_series = portugal_data.loc[govexp].rename(columns={'value':'Gov Exp (%)'})['Gov Exp (%)']
govexpeduc_series = portugal_data.loc[govexpeduc].rename(columns={'value':'Gov Exp on Educ (%)'})['Gov Exp on Educ (%)']
govhealth_series = portugal_data.loc[govhealth].rename(columns={'value':'Gov Exp on Health (%)'})['Gov Exp on Health (%)']

In [ ]:
#Finally let's concatenate all together
#and put back together the column names since concate operator loss them
gdp_gov_view = pd.concat([gdp_series,
                govexp_series,
                govexpeduc_series,
                govhealth_series],axis=1)

gdp_gov_view

The middlemost complex combiner is `join()`. It works for combining different `DataFrame` objects which have a column (or index) in common. For a clear explanation of its usage and its parameters, let's generate two new `DataFrames` each of them with two columns named: `Key` and `Values`.  

The first one name it `right` and fill each column with the following values:

+ `Key`: 2000,2001,2002,2003
+ `Values`:12,13,12,13 

The second one name it `left` and fill each column with the following values:

+ `Key`: 2000,2001,2003
+ `Values`:15,16,17

In [ ]:
right=pd.DataFrame({'Key':[2000,2001,2002,2003],
                   'Values':[12,13,12,13]})
left=pd.DataFrame({'Key':[2000,2001,2003],
                  'Values':[15,16,17]})

Now, lets *join* this to datasets using operator `.join()`.

In [ ]:
right.join(left.set_index('Key'),lsuffix='_Dolar',rsuffix='_Euro',on='Key')

Note that the `on` parameter allows us to to join the datasets using the `Key` column, however `DataFrame.join()` **always uses the second one index** so that's why in the code above we use the method `set_index('Key')` on the second `DataFrame` (in the example is called `left`).

Back to our example database, imagine that now we have a report with another set of indicators:

+ Final consumption expenditure (\% of GDP): (formerly total consumption) is the sum of household final consumption expenditure (private consumption) and general government final consumption expenditure (general government consumption)
+ Exports of goods and services (\% of GDP)

And we want join them together in a single dataset.

In [ ]:
#Let's set the conditions to select the data
fnlconsexp = portugal_data['Series Name']=='Final consumption expenditure (% of GDP)'
exports = portugal_data['Series Name']=='Exports of goods and services (% of GDP)'

#Then select and rename each series
fce_series = portugal_data.loc[fnlconsexp].rename(columns={'value':'FCE (%)'})['FCE (%)']
exports_series = portugal_data.loc[exports].rename(columns={'value':'Exports (%)'})['Exports (%)']

gdp_econ_view = pd.concat([fce_series,
                exports_series],axis=1)

In [ ]:
gdp_gov_view.join(gdp_econ_view)

Note that the new dataset has exactly the same amount of rows (or observations) that our first dataset. `join()` method has set by default the value of the parameter `how` to "left". So, the code above is *pasting*  two additional columns using the values of `Time` (set as index in both datasets) as keys for this process.

The last combining operator is `merge()`, it is said to be more complicated simply because it has more parameters to specify. This allows more flexibility when dealing with difficult *types* of combinations. 

Differently from `join()` it supports any column or index as *key* for the combination to perform. It also has set as default `how` value "inner" (so by default it would just return rows in which key values belong to the intersection of both dataset). 

Let's repeat what we have done so far using this operator.

In [ ]:
pd.merge(right,left,suffixes=('_Dolar','_Euro'),on='Key',how='left')

In [ ]:
pd.merge(gdp_gov_view.reset_index(),gdp_econ_view.reset_index(),left_on='Time',right_on='Time',how='left',validate='1:1')

Finally, it is important to remark that almost everything that can be done with `merge()` can also be done with `join()`. However, `merge()` gives you more control on how pandas is  internally procesing your data. In particular, the **optional parameter** `validate` helps you check how pandas is processing internally the key values. In our example, I specified "1:1" that means "one to one" because it makes pandas to check if merge keys are unique on the both dataset.

Remember that you can always *ask Python* for help when you feel confused about the parameters or its usage of both `merge()` and `join()` (or any other) operator.